@page "/AddComment"

@using BlazorServerSample.Services.Interfaces;
@using BlazorServerSample.Shared.Models

@inject ICommentService commentService;

<h3>Add Comment</h3>

<EditForm Model="@Comment" OnValidSubmit="@CreateComment">
    <label>Author:</label>
    <div class="col-md-8">
        <InputText @bind-Value="@Comment.Author" class="form-control" />
    </div>
    <label>Message:</label>
    <div class="col-md-8">
        <InputTextArea @bind-Value="@Comment.Message" class="form-control" />

    </div>
    <button type="submit" class="btn btn-success">Comment</button>
</EditForm>

 @code {

    [Parameter]
    public PostModel ParentPost { get; set; }

    [Parameter]
    public EventCallback OnSubmitted { get; set; }

    CommentCreationModel Comment = new CommentCreationModel();

    protected async void CreateComment()
    {
        Comment.PostId = ParentPost.Id;
        await commentService.InsertCommentAsync(Comment);

        ResetForm();
        
        await OnSubmitted.InvokeAsync(this);
    }

    private void ResetForm()
    {
        Comment = new CommentCreationModel()
            {
                PostId = ParentPost.Id
            };

        StateHasChanged();

    }
}
