@page "/AddPost"

@using BlazorServerSample.Services.Interfaces
@using BlazorServerSample.Shared.Models

@inject NavigationManager navigationManager;
@inject IPostService postService;

<h3>Add Post</h3>

<EditForm Model="@Post" OnValidSubmit="@CreatePost">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Author: </label>
    <div class="col-md-8">
        <InputText @bind-Value="@Post.Author" class="form-control" />
    </div>
    <label>Message: </label>
    <div class="col-md-8">
        <InputTextArea @bind-Value="@Post.Body" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>

@code {
    PostModel Post = new PostModel();

    protected async void CreatePost()
    {
        await postService.InsertPostAsync(Post);
        navigationManager.NavigateTo("Posts");
    }

    void CancelPost()
    {
        navigationManager.NavigateTo("Posts");
    }
}
